<script type="text/javascript" src="../../static/tool/back2top.js"></script>

<div style="display: none; POSITION: fixed; BOTTOM: 10%; RIGHT: 5%; _position: absolute; _right: auto"
     id="goTopBtn">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    </button>
</div>

<script type=text/javascript>goTopEx();</script>

{#emoji启动,需要放在body后面#}
<script>
    emojify.setConfig({
        emojify_tag_type:'div',
        img_dir:'../../static/emoji/images'});
    emojify.run();
</script>

<footer class="bs-docs-footer" role="contentinfo" style="padding-top: 2%; padding-bottom: 2%; color: darkgray">
    <hr>
    <div class="container" style="text-align: center">
        Copyright © b612.live | <a href="http://www.miitbeian.gov.cn/" style=" text-decoration: none;color:darkgray;">京ICP备16015493号</a>
    </div>
</footer>